.login .box {
  display: flex;
  flex-direction: column;
  padding: 150px 50px;
}

.login .box .title {
  background-color: var(--bg-light-gray);
  font-weight: bold;
  text-align: center;
}

.login fieldset {
  background-color: white;
}

.login fieldset .btnPrimary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.login nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  padding-top: 13px;
}

.login nav a {
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 501px) /* Tablet and Larger */ {
  .login .topNav {
    justify-content: flex-end
  }
  .login .box {
    padding: 250px;
  }
}