@import "~react-toolbox/lib/colors";

$color-primary: red;
$color-primary-dark: var(--palette-blue-700);

$bg-dark-blue: #2A3F54;
$bg-lightest-gray: rgb(247, 247, 247);
$bg-light-gray: rgb(237, 237, 237);
$main-color: #636b6f;
// $color-primary: #337ab7;
$main-font-family: 'Raleway', sans-serif;