:root {
  /* background colors: */
  --bg-dark-blue: #2a3f54;
  --bg-lightest-gray: rgb(247, 247, 247);
  --bg-light-gray: rgb(237, 237, 237);

  /* font colors: */
  --main-color: #636b6f;
  --color-primary: #337ab7;

  /* font family */
  --main-font-family: 'Raleway', sans-serif;
}

$button-primary-color: #337ab7;

.container {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
  }

  fieldset {
    background-color: white;
    border: none;
  }

  .actions {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // .primary {
    //   color: #fff;
    //   font-family: var(--main-font-family);
    // }

    button {
      margin: 0 10px;
    }
  }

  /* Input Fields */

  fieldset input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

/* Link Component */

.link {
  // color: #2e6da4;
  font-family: var(--main-font-family);
  font-size: 12px;
}
